extends layout

block content

  h1 List of all items stored in Nokia Garage

  p The nokia garage has the following records:

  ul
  each device in device_list
    li
      a(href=device.url()) #{device.deviceName}
