extends layout

block content
  p Device name #{device_detail.deviceName}
  p How many devices are left:  #{device_detail.numLeft}

  if device_detail.numLeft > 0
    p.available Device available for reservation
  else
    p.notavailable Device not available for reservation
