extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='deviceName') Device Name:
      input#deviceName.form-control(type='text' name='deviceName')
      br
      label(for='numLeft') Available devices:
      input#numLeft.form-control(type='text' name='numLeft')
    div.form-group
    button.btn.btn-primary(type='submit') Submit
