extends layout

block content

  h1 Welcome to Nokia Garage site

  p here is list of all available actions:

  ul
    li  Show all items in nokia garage
    li Delete item
    li Edit item
    li Add item
